*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}
  
#main{
    height:100%;
    width:100%;
    /* display:flex;
    align-items: center;
    justify-content: center; */
}

.card{
    position:absolute;
    /* that the cards will be one above the other */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:300px;
    width: 230px;
    border: 1px solid salmon;
    border-radius: 20px;
    overflow: hidden;
}

#card1{
    background-color: salmon;
    z-index:4; 
}

#card2{
    rotate:-7deg;
    z-index:3;
    background-color: blue;
}

#card3{
    rotate:-14deg;
    z-index: 2;
    background-color: green;
}

#card4{
   z-index: 1;
   rotate:-21deg;
   background-color: yellow;
}

#card2:hover{
    z-index:10;
}
